<div class="container">
  <div class="image-box">
    <img src="../../../../assets/post-it.png" alt="notes" />
  </div>
  <div class="introduction">
    <span class="welcome-text">Witaj w MyNotes!</span>
    <p class="bottom-welcome-text">
      Najlepszym serwisie do tworzenia szybkich notatek
    </p>
    <p class="sign-request">Aby zacząć musisz być zalogowany</p>
    <div class="button-container">
      <button class="button" routerLink="/login">Zaloguj się</button>
      <button class="button" routerLink="/register">Utwórz konto</button>
    </div>
  </div>
</div>
